# Ignore All Files By Default
*

# Allow All Directories
!*/

# Track Specific Files and Extensions 
!.gitignore
!*.sh
!*.c
!*.h
!*.py
!*.html
!.css
!*.md
!*.drawio
!*.service
!*.Dockerfile
!*.conf
!*.yml
!*.yaml
# Ignore Specific Directories
Python/Weather_WebApp_Project/.virtual/
