# .gitignore File For DevOps Course
# Ignore All Files By Default
*

# Allow All Directories
!*/

# Track Specific Files and Extensions 
!.gitignore

# Linux & Bash
!*.sh
!*.service

# C
!*.c
!*.h

# Python + Web
!*.py
!*.html
!*.css
.idea

# Design
!*.md
!*.drawio

# Docker
!*.Dockerfile
!Dockerfile
!*.conf

# YAML
!*.yml
!*.yaml

# Jenkins
!*.Jenkinsfile
!Jenkinsfile

# Java
!*.java
!*.xml
target/

# Terraform
!*.tf
.terraform

# MongoDB
!*.js

# Ignore Specific Directories
Python/Weather_WebApp_Project/.virtual/
