<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather App Connected To Jenkins</h1>
        <form action="{{ url_for('get_weather') }}" method="POST">
            <div class="search-container">
                <input type="text" name="city" placeholder="Enter city name" required>
                <button type="submit">Search</button>

            </div>
        </form>
    </div>
</body>
</html>
